html {
	margin: 0;
	padding: 0;
}

body * {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #25303C;
	color: white;
	font-size: 22px;
}

a {
	text-decoration: none;
	color: white;
}

#container {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: 95vh;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.info {
	margin: 0 auto 8px;
	text-align: center;
}

.name {
		margin-bottom: 19px;
}

.resume {
	display: block;
	margin-bottom: 14px;
}

.resume:hover {
	text-decoration: underline;
}

.social-media-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.social-media-link {
	font-size: 24px;
}

.social-media-link {
	padding: 0 35px;
}

@media screen and (max-width: 800px) {
	.info {
		font-size: 35px;
	}
	.info-content {
		font-size: 20px;
	}
	.social-media-link {
		font-size: 45px;
	}
	.previous-link {
		font-size: 12px;
	}
}

.fa {
	padding: 10px;
	border: 2px solid transparent;
}

.fa:hover {
	border: 2px solid white;
	border-radius: 50%;
}

.blog {
	margin-top: 25px;
	text-decoration: underline;
}
